@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");



/* Você vai precisar trocar a cor dos botões e alguns textos!
  VERDE = "#2FBE34"
  AMARELO = "#FF922E"
  VERMELHO = "#FF3030"
  CINZA = "#333333" 
*/






.icon-pergunta {
  color: blue;
  cursor: pointer;
}

.icon-resposta {
  color: rgb(213, 26, 213);
  cursor: pointer;
  width: 5px;
}

.hidden {
  display: none;
}
